h1{
    font-family: "Boldonse", serif;   
    font-size: 1cm; 
    margin: 10px auto;
    text-align: center;
    color: white;
    background-color: black;
    border: 4px solid black;
     border-radius: 50px;
     line-height: 100px;
     margin: 10px auto;
}
h2{
     margin: 10px auto;
    margin-left: 2cm;
    color: white;
}
p{
    margin: 10px auto;
    margin-left: 3cm;
    line-height: 2;
    font-family: "schoolbell";
    font-size: 0,9cm;
    color: white;
}
body{
    background-image:url(../images/966226-arboles-bosque-hojas-naturaleza.jpg) ;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.azu{
    margin: 10px auto;
      border: 2px solid white;
    border-radius: 50px;
     line-height: 100px;    
     padding: 10px 20px;
}
.nor{
    margin: 10px auto;
    border: 2px solid white;
    border-radius: 50px;
     line-height: 100px;    
     padding: 10px 20px;
}
.bi{
    margin: 10px auto;  
    border: 2px solid white;
    border-radius: 50px;
     line-height: 100px;    
     padding: 10px 20px;

}
.amar{
    margin: 10px auto;
      border: 2px solid white;
    border-radius: 50px;
     line-height: 100px;    
     padding: 10px 20px;
}
.ardi{
    margin: 10px auto;
    border: 2px solid white;
    border-radius: 50px;
     line-height: 100px;    
     padding: 10px 20px;
     text-align: center;
}
.patata{
    height: 1cm;
    width: 1cm;
}
.patata:hover{
    height: 5cm;
    width: 5cm;
}