h1{
    font-family: "Boldonse", serif;   
    font-size: 1cm; 
    margin: 10px auto;
    text-align: center;
    color: white;
    background-color: black;
    border: 4px solid black;
     border-radius: 50px;
}
h2{
     margin: 10px auto;
    margin-left: 2cm;
    color: white;
}
p{
    margin: 10px auto;
    margin-left: 3cm;
    line-height: 2;
    font-family: "schoolbell";
    font-size: 0,9cm;
    color: white;
}
body{
    background-image:url(../images/966226-arboles-bosque-hojas-naturaleza.jpg) ;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}