body{
     background-image: url(https://p4.wallpaperbetter.com/wallpaper/451/916/1015/greens-summer-grass-trees-wallpaper-preview.jpg);
    background-size: cover;
    background-attachment: fixed;
}

h1{
    font-family: "Boldonse", serif;   
    font-size: 1cm; 
    margin: 10px auto;
    text-align: center;
    color: white;
    background-color: black;
    border: 4px solid black;
     border-radius: 50px;
     line-height: 100px;
     margin: 10px auto;
}
.video {
    max-width: 100%;
    height: auto;
    text-align: center;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}
h2{
    font-family: "Boldonse", serif;   
    font-size: 1cm; 
    margin: 10px auto;
    text-align: center;
    color: white;
    background-color: black;
    border: 4px solid black;
     border-radius: 50px;
     line-height: 100px;
     margin: 10px auto;
}
.exp{
    margin: 10px auto;
    margin-left: 2cm;
    line-height: 2;
    font-family: "schoolbell";
    font-size: 0,9cm;
    color: rgb(255, 255, 255);
    position: relative;
}
.video2{
       max-width: 100%;
    height: auto;
    text-align: center;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}
h4{  font-family: "Boldonse", serif;   
    font-size: 1cm; 
    margin: 10px auto;
    text-align: center;
    color: white;
    background-color: black;
    border: 4px solid black;
     border-radius: 50px;
     line-height: 100px;
     margin: 10px auto;
}
h3 {
    font-family: "Boldonse", serif;   
    font-size: 1cm; 
    margin: 10px auto;
    text-align: center;
    color: white;
    background-color: black;
    border: 4px solid black;
     border-radius: 50px;
     line-height: 100px;
     margin: 10px auto;
}
.exp2{
     margin: 10px auto;
    margin-left: 2cm;
    line-height: 2;
    font-family: "schoolbell";
    font-size: 0,9cm;
    color: rgb(255, 255, 255);
    position: relative;
}
.patata{
    height: 1cm;
    width: 1cm;
}
.patata:hover{
    height: 5cm;
    width: 5cm;
}